/* This is main container : it contains logo, links and button* media for phones for nav section*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1920px;
    min-height: 110px;
    color: #ffffff;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, .5);
}


/*this is again a flex box that contains mission and code two words*/

.logo {
    display: flex;
    font-family: Helvetica;
    font-size: 26px;
    letter-spacing: 0.0px;
    width: 151px;
    max-height: 31px;
    color: #000000;
}

.logo .sub_logo {
    color: #820bc6;
}


/*Flex box for Navigation links */

.nav_flex {
    display: flex;
    list-style-type: none;
    width: 480px;
    min-height: 38px;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0.0px;
    color: #263035;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 5px 0;
}

li {
    margin: 5px 0;
}

.sign_in {
    width: 150px;
    min-height: 55px;
    border-radius: 3px;
    background-color: #820bc6;
    color: #ffffff;
}

@media (max-width:400px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: none;
    }
    .nav_flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        text-decoration: none;
    }
}