body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.900);
    color: rgba(255, 255, 255, 0.959);
}

.flex-wrapper {
    display: flex;
    padding: 15px 0px;
    margin: 15px 0px;
    height: 460px;
    width: 960px;
}

.left-form {
    width: 65%;
    background-color: rgba(0, 0, 0, 0.979);
    border-right: 1px solid rgba(128, 128, 128, 0.233);
    padding-left: 25px;
    padding-top: 30px;
}

.label {
    letter-spacing: 2px;
    font-size: 12px;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-form input {
    width: 250px;
    padding: 10px;
    margin-top: 7px;
    border: none;
    background: rgba(128, 128, 128, 0.233);
    outline: none;
}

.outer-forminput {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 10px;
}

.message-form textarea {
    width: 465px;
    padding: 45px;
    margin-top: 7px;
    margin-left: 35px;
    margin-bottom: 30px;
    border: none;
    background: rgba(128, 128, 128, 0.233);
    outline: none;
}

.labelmsg {
    margin-left: 35px;
}

.clear-btn {
    background: none;
    outline: none;
    color: #ffffff;
    padding: 10px;
}

.btn {
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
    margin-left: 35px;
}


/* Css for right starts here*/

.right-form {
    background-color: rgba(0, 0, 0, 0.979);
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.959);
    padding-top: 15px;
}

.info.border {
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

i {
    color: rgba(0, 0, 0, 0.938);
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    padding: 7px;
    border-radius: 60px;
    margin-left: 20px;
}

.inner-info {
    margin-left: 20px;
}

.inner-info p {
    font-size: 12px;
}

.email {
    border-bottom-style: none;
    font-size: 12px;
}

.contact-heading {
    font-weight: bold;
    font-size: 16px;
}

.contact {
    display: flex;
    padding: 20px;
}