.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 12 px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .125);
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.container div:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.row p {
    padding: 0px 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.row :nth-child(even) {
    padding: 3px 7px;
    border-radius: 10rem;
    background-color: #007bff;
    color: #fff;
    text-align: justify;
}